* {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif ;
    font-weight: bold;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post {
    display: flex;
    flex-direction: column;
    padding: 10px;
    -webkit-box-shadow: 2px 0px 21px 0px rgba(0,0,0,0.31);
    -moz-box-shadow: 2px 0px 21px 0px rgba(0,0,0,0.31);
    box-shadow: 2px 0px 21px 0px rgba(0,0,0,0.31);
}

.header { 
    display: flex;
    justify-content: flex-end;
}

.header-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 2px;
    margin-top: 5px;
    padding: 2px;
}

.heure {
    color: #b2bec3;
    font-weight: normal;
}

.picprofil {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.header-photo {
    margin-left: 10px;
    margin-bottom: 7px;
}

.photo {
    width: 450px;
}